@color: #4D926F;

h2 {
  color: @color;
}

.nav_img {
  width: 50px;
  height: 50px;
  margin-top: -10px;
}

circle {
  -webkit-transition: stroke-dasharray .25s;
  transition: stroke-dasharray .25s;
}
.fluid_container {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}